@CHARSET "ISO-8859-1";
body{
	width:100%;
	margin:auto;
}
#logoDiv {
	float: left;
}

#descriptionDiv {
	background: #f9f8e6;
	border: 1px solid grey;
	padding-left: 10px;
	width: 100%;
}




