
@CHARSET "ISO-8859-1";

body {
	padding-top: 54px;
}

@media ( min-width : 992px) {
	body {
		padding-top: 56px;
		height: 100%;
	}
}

.jumbotron-padding-margin-override {
	padding: 1em 1em 4em 1em !important;
	margin-top: 0.5rem !important;
}

.lead-font-override {
	font-size: 1.1em;
}

#logoDiv {
	float: left;
	padding: 5px 5px 5px 5px;
}

.descriptionStyle {
	font-size: 1.2em !important;
}
.mainDescription{
	background-color: #F8F8E6;
	padding: 20px 20px 20px 20px;
	border-radius: 25px;
	border:2px solid green;
}
.secondaryDescription{
	margin-top:10px;
	padding: 20px 20px 20px 20px;
	border-radius: 25px;
	border:2px solid green;
}
.mainImage{
	margin-top: 37px;
}
#mainContentDescription {
	border-style: solid;
	border: 1px;
	border-radius: 25px;
	padding: 20px;
}

.registrarDiv:hover {
	background: red;
	color: white;
}

.awithnounderline:hover {
	text-decoration: none;
	color: red;
}

.popularPostLabel {
	color: #055B9E;
}

.popularPostLabel:hover {
	color: red;
}

#pagination {
	margin: 0 auto;
	text-align: center;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-link {
	padding-left: 14px !important;
	padding-right: 14px !important;
}

.mt-4, .my-4 {
	margin-top: 0em !important;
}

.img-relatedposts {
	width: 500px !important;
	height: 300px !important;
}

.knowMore {
	color: rgb(0,0, 255);
	font-weight: bold;
}

.advertisingContainer {
	
}

.buyUsingLink {
	color: orange;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}