
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				Here we are making fire extinguisher from the things which are
				easily available from kitchen. This is a must thing in your kichen.
				Shelf life of this extinguisher is more than 1 year. We are using
				baking soda and vinegar for this operation. The generated
				carbon-dioxide is pointed to the area of flame which in turn will
				blow out the flame (Lack of oxygen).Refilling is also much more
				easiest for any aged group peoples.
				<br />
				<br />
				<span style="color: Grey;"> <strong> Watch the
						following video for the step by step instructions for making the
						fire extinguisher.</strong></span>
			</figure>
		</div>
		<br />
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/rapoq2DOTnI??autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="separator" style="clear: both; text-align: center;">
			<iframe class="YOUTUBE-iframe-video" width="60%" height="350px"
				data-thumbnail-src="https://i.ytimg.com/vi/rapoq2DOTnI/0.jpg"
				src="https://www.youtube.com/embed/rapoq2DOTnI?autoplay=1&feature=player_embedded"
				frameborder="0" allowfullscreen></iframe>
		</div>
		<br />

	</div>
	<div id="recommendationContainer" style="width:100%"></div>
</div>


