
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				Here you can see the effect of mentos tablets with coca cola. Not
				only coca cola any carbonated drink. Here mentos is acting as a
				catalyst to release carbon-di-oxide. So after taking carbonated
				drink do not consume mentose immediately. Let the liquid release all
				gas when it is inside our stomach, after that we can take mentos.
				<br />
				<br />
				<span style="color: Grey;"> <strong> Watch the
						following video for the reaction. </strong></span>
			</figure>
		</div>
		<br />
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/IsbPsiMcbtE?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="separator" style="clear: both; text-align: center;">
			<iframe class="YOUTUBE-iframe-video" width="60%" height="350px"
				data-thumbnail-src="https://i.ytimg.com/vi/IsbPsiMcbtE/0.jpg"
				src="https://www.youtube.com/embed/IsbPsiMcbtE?autoplay=1&feature=player_embedded"
				frameborder="0" allowfullscreen></iframe>
		</div>
		<br />
	</div>
	<div id="recommendationContainer" style="width:100%"></div>
</div>


