
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				This will help you to make a origami paper frog which can jump for a
				very long distance. Children's will love these kind of stuffs and
				these kind of activities will help them to develop their brain very
				fast than normal.
				<br />
				<br />
				<span style="color: Grey;"> <strong>Watch the
						following video for the step by step instructions on how to make
						the origami paper frog.</strong></span>
			</figure>
		</div>
		<br />
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/z7zcaonWNNQ?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="separator" style="clear: both; text-align: center;">
			<iframe class="YOUTUBE-iframe-video" width="60%" height="350px"
				data-thumbnail-src="https://i.ytimg.com/vi/z7zcaonWNNQ/0.jpg"
				src="https://www.youtube.com/embed/z7zcaonWNNQ?autoplay=1&feature=player_embedded"
				frameborder="0" allowfullscreen></iframe>
		</div>
		<br />

	</div>
	<div id="recommendationContainer" style="width: 100%"></div>
</div>


