
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle">
				This will show beginning view of the athirapally water falls which
				is a major tourist location in Kerala, India. The famous film
				Bahubali's shooting was done at this location. The scenery is a very
				perfect and excellent for our eyes.
				<br />
				<br />
				<span style="color: Grey;"><strong> Watch the
						following video for the unbelievable view. Location to that place
						is also shown below the video.</strong></span>
			</figure>
		</div>
		<br />
		<div class="table-responsive"
			onclick="window.open('https://youtu.be/ekvPU0VM8Ro?autoplay=1','_blank')"
			style="cursor: pointer;">
			<img border="0" style="padding-right: 10px;"
				src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
			<label
				style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
				here to view the description</label>
		</div>

		<div class="separator" style="clear: both; text-align: center;">
			<iframe class="YOUTUBE-iframe-video" width="60%" height="350px"
				data-thumbnail-src="https://i.ytimg.com/vi/ekvPU0VM8Ro/0.jpg"
				src="https://www.youtube.com/embed/ekvPU0VM8Ro?autoplay=1&feature=player_embedded"
				frameborder="0" allowfullscreen></iframe>
		</div>
		<br />
	</div>
</div>
<hr>
<br />
<hr>
<br />
<hr>
<br />
<h4>Location for Athirapally</h4>
<hr>
<div class="row">
	<div class="col-md-12">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7851.379279595429!2d76.56625763278149!3d10.286571481587732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07f923c2abb0d1%3A0x1e7af75aa13af78!2sAthirappilly+Water+Falls!5e0!3m2!1sen!2sin!4v1518704678741"
			width="100%" height="500px" frameborder="0" style="border: 0"
			allowfullscreen></iframe>
	</div>
</div>

<div class="card my-4">
	<h5 class="card-header">Related Posts</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-lg-6">

				<a class="awithnounderline"
					href="?subPage=16hostforfree&heading=Host%20your%20website%20for%20free"
					target="_blank">
					<h4>Host your website for free</h4>
					<img class="img-fluid rounded mb-3 mb-md-0"
					src="https://i.ytimg.com/vi/Vi2GbnrpDAM/hqdefault.jpg" alt="">
				</a>
			</div>
			<div class="col-lg-6">
				<a class="awithnounderline"
					href="?subPage=07Paperfrog&heading=How to make paper frog which can jump high"
					target="_blank">
					<h4>How to make paper frog which can jump high</h4> <img
					class="img-fluid rounded mb-3 mb-md-0"
					src="https://i.ytimg.com/vi/z7zcaonWNNQ/hqdefault.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>

