
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle">
				This will help you to make a paper glider which can fly for a very
				long time. Children's will love these kind of stuffs and these kind
				of activities will help them to develop their brain very fast than
				normal. We are making its wings very large so that it can glide in
				the air for very long time. Children's can make this glider and can
				fly from ground, building tops etc. and watch how it is flying.
				<br />
				<br />
				<span style="color: Grey;"><strong> Watch the
						following video for the step by step instructions on how to make
						the paper glider .</strong></span>
			</figure>
		</div>
		<br />
		<div class="table-responsive"
			onclick="window.open('https://youtu.be/An3hnxQdBrQ?autoplay=1','_blank')"
			style="cursor: pointer;">
			<img border="0" style="padding-right: 10px;"
				src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
			<label
				style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
				here to view the description</label>
		</div>

		<div class="separator" style="clear: both; text-align: center;">
			<iframe class="YOUTUBE-iframe-video" width="60%" height="350px"
				data-thumbnail-src="https://i.ytimg.com/vi/An3hnxQdBrQ/0.jpg"
				src="https://www.youtube.com/embed/An3hnxQdBrQ?autoplay=1&feature=player_embedded"
				frameborder="0" allowfullscreen></iframe>
		</div>
		<br />
	</div>
	<div class="card my-4">
		<h5 class="card-header">Related Posts</h5>
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">

					<a class="awithnounderline"
						href="a.html?subPage=09flyingballoon&heading=Flying balloon"
						target="_blank">
						<h4>Flying balloon</h4> <img
						class="img-fluid rounded mb-3 mb-md-0"
						src="https://i.ytimg.com/vi/VBVjnz8CpJU/hqdefault.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-6">
					<a class="awithnounderline"
						href="a.html?subPage=07Paperfrog&heading=How to make paper frog which can jump high"
						target="_blank">
						<h4>How to make paper frog which can jump high</h4> <img
						class="img-fluid rounded mb-3 mb-md-0"
						src="https://i.ytimg.com/vi/z7zcaonWNNQ/hqdefault.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<hr>
					<br>
					<hr>
					<br>
					<hr>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-6">
					<a class="awithnounderline"
						href="a.html?subPage=04PaperRocket&heading=How to make paper rocket that can fly far high"
						target="_blank">
						<h4>How to make paper rocket that can fly far high</h4> <img
						class="img-fluid rounded mb-3 mb-md-0"
						src="https://i.ytimg.com/vi/0FcGDOKxYk0/hqdefault.jpg" alt="">
					</a>
				</div>
				<div class="col-lg-6">

					<a class="awithnounderline"
						href="a.html?subPage=03Arduino&heading=How to check the Arduino is working fine or not"
						target="_blank">
						<h4>How to check the your Arduino is working fine or not</h4> <img
						class="img-fluid rounded mb-3 mb-md-0"
						src="https://i.ytimg.com/vi/PO0sis3wo60/hqdefault.jpg" alt="">

					</a>
				</div>
			</div>
		</div>
	</div>
</div>


