
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				<p>Here we are showing you how to make a night lamp using LED's
					and water beads. The things for making this is shown in the
					description of the youtube video. We are using red, green, white
					and green LED's for this night lamp. The cap of the bottle we used
					will be closed so no water will evaporate from the water beads.
					Because of this water beads will stay inflamed for many weeks. We
					are using different color LED,s which makes the night lamp very
					beautiful at night.</p>
				<p style="color: magenta; font-weight: bold;">The link for
					buying the water beads for making this night lamp is given in this
					page itself.</p>
				<span style="color: Grey;"><strong> Watch the
						following video for the step by step instructions for making the
						night lamp.</strong></span>
			</figure>
		</div>
		<br />
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/TSruVT_DD2c?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B004UJZT2Q&asins=B004UJZT2Q&linkId=92a1ae3db635f219f7db08436136c23e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B072L591WW&asins=B072L591WW&linkId=31010b6ecfb72a9d25e75164a480c0b6&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-md-8">
				<div class="separator" style="clear: both; text-align: center;">
				<iframe width="100%" height="350px"
						src="https://www.youtube.com/embed/TSruVT_DD2c?autoplay=1"
						frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						
					
				</div>
			</div>
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B074DF6KBY&asins=B074DF6KBY&linkId=70f825cb58d5e4a30acb30b191a49c67&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B076TG5SWQ&asins=B076TG5SWQ&linkId=77058e5530dc42dfec820c876da1f273&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<br />

		</div>

	</div>
	<div id="recommendationContainer" style="width: 100%"></div>
</div>