
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle">
				<p>Here we are showing you how to make a night lamp using LED's
					and water beads. The things for making this is shown in the
					description of the youtube video. We are using red, green, white
					and green LED's for this night lamp. The cap of the bottle we used
					will be closed so no water will evaporate from the water beads.
					Because of this water beads will stay inflamed for many weeks. We
					are using different color LED,s which makes the night lamp very
					beautiful at night.</p>
				<p style="color: magenta; font-weight: bold;">The link for
					buying the water beads for making this night lamp is given in this page itself.</p>
				<span style="color: Grey;"><strong> Watch the
						following video for the step by step instructions for making the
						night lamp.</strong></span>
			</figure>
		</div>
		<br />
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/TSruVT_DD2c?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B004UJZT2Q&asins=B004UJZT2Q&linkId=92a1ae3db635f219f7db08436136c23e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B072L591WW&asins=B072L591WW&linkId=31010b6ecfb72a9d25e75164a480c0b6&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-md-8">
				<div class="separator" style="clear: both; text-align: center;">
					<iframe class="YOUTUBE-iframe-video" width="100%" height="350px"
						data-thumbnail-src="https://i.ytimg.com/vi/TSruVT_DD2c/0.jpg"
						src="https://www.youtube.com/embed/TSruVT_DD2c?autoplay=1&feature=player_embedded"
						frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B074DF6KBY&asins=B074DF6KBY&linkId=70f825cb58d5e4a30acb30b191a49c67&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B076TG5SWQ&asins=B076TG5SWQ&linkId=77058e5530dc42dfec820c876da1f273&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<br />

		</div>
		<div class="card my-4">
			<h5 class="card-header">Related Posts</h5>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">

						<a class="awithnounderline"
							href="?subPage=15homemadeledlamp&heading=Homemade%20Simple%20LED%20Night%20Lamp%20or%20Power%20Indicator&date=Feb 12, 2018"
							target="_blank">
							<h4>Homemade Simple LED Night Lamp or Power Indicator</h4> <img
							class="img-fluid rounded mb-3 mb-md-0 img-relatedposts"
							src="https://i.ytimg.com/vi/KnOfS51rzos/hqdefault.jpg" alt="">
						</a>
					</div>
					<div class="col-lg-6">
						<a class="awithnounderline"
							href="?subPage=12homemadelowpowerfan&heading=Homemade%20Low%20Power%20Consumption%20High%20Airflow%20Fan&date=Jan 27, 2018"
							target="_blank"><h4>Homemade Low Power Consumption High
								Airflow Fan</h4> <img
							class="img-fluid rounded mb-3 mb-md-0 img-relatedposts"
							style="padding-left: 20px;"
							src="https://i.ytimg.com/vi/a1aCi3lQLsU/hqdefault.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<hr>
						<br>
						<hr>
					</div>
				</div>
				<div class="row">

					<div class="col-lg-6">
						<a class="awithnounderline"
							href="?subPage=02BladelessFan&heading=Make Bladeless Fan Using PVC Pipe&date=Nov 26, 2017"
							target="_blank"><h4>Make Bladeless Fan Using PVC Pipe</h4> <img
							class="img-fluid rounded mb-3 mb-md-0 img-relatedposts"
							src="https://i.ytimg.com/vi/i2KFgWl4Zwc/hqdefault.jpg" alt="">

						</a>
					</div>
					<div class="col-lg-6">

						<a class="awithnounderline"
							href="?subPage=03Arduino&heading=How to check the Arduino is working fine or not&date=Nov 30, 2017"
							target="_blank">
							<h4>How to check the Arduino is working fine or not</h4> <img
							class="img-fluid rounded mb-3 mb-md-0 img-relatedposts"
							src="https://i.ytimg.com/vi/PO0sis3wo60/hqdefault.jpg" alt="">

						</a>
					</div>
				</div>
			</div>
		</div>
	</div>