
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				<p>Here we are showing you how to make a main power supply
					indicator(simple night lamp) which is very very cheap. The things
					you required are 2-Pin plug, 100 Kilo Ohm 0.5W/1W resistor and LED
					of any color(Blue is good for night lamp, Red/Orange is good for
					power supply indicator). For the simplicity I have not joined the
					connection by soldering but I do prefer to join the connection by
					soldering. Also it is better to fix the LED using glue gun. The
					total cost of this hobby part is much much cheap than a
					conventional night lamp.</p>
				<p style="color: red">Here we are going to play with higher
					voltage. So extreme precautions need to be taken while implementing
					this.</p>
				<span style="color: Grey;"><strong> Watch the
						following video for the step by step instructions for making the
						indicator/night lamp.</strong></span>
			</figure>
		</div>
		<br />

		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/KnOfS51rzos??autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B06Y28R6MZ&asins=B06Y28R6MZ&linkId=86147cd2b1cffdc6e970e745f53ccaae&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B0719JNGM3&asins=B0719JNGM3&linkId=f5c8b54cef69a092a08ba153a57231ec&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-md-8">
				<div class="separator" style="clear: both; text-align: center;">
				<iframe width="100%" height="350px"
						src="https://www.youtube.com/embed/KnOfS51rzos?autoplay=1"
						frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						
				</div>
			</div>
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B071F8S9H9&asins=B071F8S9H9&linkId=2a4f2d70629a76d1cc5e3b9e3f3d66e2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<br />
		</div>

	</div>
	<div id="recommendationContainer" style="width: 100%"></div>
</div>
