
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle">
				Here we are showing you how to make a main power supply
				indicator(simple night lamp) which is very very cheap. The things
				you required are 2-Pin plug, 100 Kilo Ohm 0.5W/1W resistor, LED of
				any color. For the simplicity I have not joined the connection by
				soldering but i do prefer to join the connection by soldering. Also
				it is better to fix the LED using glue gun. This can be used as a
				night lamp too. The total cost of this hobby part is much much
				cheap.

				<br /><br />
				<span style="color: Grey;"><strong> Watch the following video for the step by step
					instructions for making the indicator/night lamp.</strong></span>
			</figure>
		</div>
		<br />   <a
			href="https://youtu.be/KnOfS51rzos?autoplay=1" imageanchor="1"
			style="margin-left: 1em; margin-right: 1em;" target="_blank">
			<div class="table-responsive">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</a>
		<div class="separator" style="clear: both; text-align: center;">
			<iframe class="YOUTUBE-iframe-video" width="60%" height="350px"
				data-thumbnail-src="https://i.ytimg.com/vi/KnOfS51rzos/0.jpg"
				src="https://www.youtube.com/embed/KnOfS51rzos?autoplay=1&feature=player_embedded"
				frameborder="0" allowfullscreen></iframe>
		</div>

		<br />


	</div>
</div>


