

<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				<p>In this video we are showing you how to host your website for
					free in github. The time taken to host the website is at the most
					15 min.The only required thing for this is a domain name that you
					can buy from a registrar.(www.godaddy.com, www.bigrock.in etc). IDE
					for developing the website can be downloaded from the link shown in
					the description in the youtube page.</p>
				<p class="knowMore">Click on the following buttons to buy
					domains.
				<p>
				<div class="row">
					<div class="col-md-2">
						<a target="_blank" href="https://linksredirect.com/?pub_id=29195CL26316&source=linkkit&url=https%3A%2F%2Fwww.godaddy.com%2F"><img
							width="175px" height="50px"
							src="https://img1.wsimg.com/pc/img/1/trademark/nonregistered/godaddy-logo.png" /></a>
					</div>
					<div class="col-md-10">
						<a target="_blank" href="https://linksredirect.com/?pub_id=29195CL26316&source=linkkit&url=https%3A%2F%2Fwww.bigrock.in%2F"><img
							width="175px" height="50px"
							src="https://assets.bigrock.in/getImage.php?src=myUploadedImages/brflatlogo.png" /></a>
					</div>
				</div>
				</p>
				<span style="color: Grey;"><strong> Watch the
						following video for the step by step instructions on hosting your
						website.</strong></span>
			</figure>
		</div>
		<br>
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/Vi2GbnrpDAM?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="separator" style="clear: both; text-align: center;">
		<iframe width="100%" height="350px"
						src="https://www.youtube.com/embed/Vi2GbnrpDAM?autoplay=1"
						frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						
			
		</div>
		<br />
	</div>
	<div id="recommendationContainer" style="width:100%"></div>
</div>


