
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle">
				In this video we are showing you how to host your website for free
				in github. The time taken to host the website is at the most 15
				min.The only required thing for this is a domain name that you can
				buy from a registrar.(www.godaddy.com, www.bigrock.in etc). IDE for
				developing the website can be downloaded from the link shown in the
				description in the youtube page.
				<br />
				<br />
				<span style="color: Grey;"><strong> Watch the
						following video for the step by step instructions for hosting your
						website.</strong></span>
			</figure>
		</div>
		<br>
		<div class="table-responsive"
			onclick="window.open('https://youtu.be/Vi2GbnrpDAM?autoplay=1','_blank')"
			style="cursor: pointer;">
			<img border="0" style="padding-right: 10px;"
				src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
			<label
				style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
				here to view the description</label>
		</div>
		<div class="separator" style="clear: both; text-align: center;">
			<iframe class="YOUTUBE-iframe-video" width="60%" height="350px"
				data-thumbnail-src="https://i.ytimg.com/vi/Vi2GbnrpDAM/0.jpg"
				src="https://www.youtube.com/embed/Vi2GbnrpDAM?autoplay=1&feature=player_embedded"
				frameborder="0" allowfullscreen></iframe>
		</div>
		<br />
		<h4 id="headingId" class="my-4 card-header"
			style="text-align: left; background: #FFF8DC;">Following are the
			home pages of Godaddy and BigRock Registrar. You can buy domains from
			the following websites.</h4>
		<div class="card my-4 registrarDiv"
			onclick="window.open('https://www.godaddy.com','_blank')"
			style="cursor: pointer;">
			<h5 class="card-header">GoDaddy</h5>
			<div class="card-body">
				<img src="images/subpages/GoDaddy.PNG" width="95%" height="80%" />
			</div>
		</div>
		<div class="card my-4 registrarDiv" id="registrarDiv"
			onclick="
			window.open('https://www.bigrock.in/','_blank')"
			style="cursor: pointer;"">
			<h5 class="card-header">Big Rock</h5>
			<div class="card-body">
				<img src="images/subpages/BigRock.PNG" width="95%" height="80%" />
			</div>
		</div>

	</div>
</div>


