
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				<p>In this video we are repairing the faulty micro USB mobile
					charger. A person with average knowledge in soldering wires and
					components can do this within 10 minutes. Not only micro USB in
					mobile charger, but also any USB connectors can be repaired with
					the help of this video. While soldering do not keep soldering
					iron's tip into the micro USB connector for a long time</p>
				<p style="color: magenta; font-weight: bold;">The link for
					buying the soldering iron, multimeter , cutting plier and glue gun
					are given in this page itself.</p>

				<span style="color: Grey;"><strong> Watch the
						following video for repairing the micro USB mobile charger.</strong></span>
			</figure>
		</div>
		<br>
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/y92twM5fC0U?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01MZ505UI&asins=B01MZ505UI&linkId=bd0947eef8d0bd57d1d5ac0d11a2f9d9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B06ZYNBZ8D&asins=B06ZYNBZ8D&linkId=ce2f325013cb27391046d9b4ea78f0fb&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-md-8">
				<div class="separator" style="clear: both; text-align: center;">
				<iframe width="100%" height="350px"
						src="https://www.youtube.com/embed/y92twM5fC0U?autoplay=1"
						frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					
				</div>
			</div>
			<div class="col-md-2">

				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B0719JNGM3&asins=B0719JNGM3&linkId=f5c8b54cef69a092a08ba153a57231ec&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00N0QCASQ&asins=B00N0QCASQ&linkId=85f94f9cbe9706b553d51d2516dee634&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<br />


		</div>
		
	</div>
	<div id="recommendationContainer" style="width:100%"></div>
</div>