
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				<p>Here I am giving you the practical study of Arduino using
					breadboard and motors</p>
				<pre>This video will cover the following things 
 1) Assemble an H-Bridge
 2) Wire Arduino with 2 micro switch
 3) Write a program to rotate the motor by pressing the micro switch. 
 Each micro switch for each rotational direction of the motor.
 4) Watch these things in action
				</pre>
				<p style="color: magenta; font-weight: bold;">The link for
					buying the Arduino UNO is given in this page itself.</p>

				<span style="color: Grey;"><strong> Watch the
						following video for Part 6 of the tutorials.</strong></span>
			</figure>
		</div>
		<br>
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/P2g-3dnrsBs?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>

			</div>
			<div class="col-md-8">
				<div class="separator" style="clear: both; text-align: center;">
					<iframe class="YOUTUBE-iframe-video" width="100%" height="350px"
						data-thumbnail-src="https://i.ytimg.com/vi/P2g-3dnrsBs/0.jpg"
						src="https://www.youtube.com/embed/P2g-3dnrsBs?autoplay=1&feature=player_embedded"
						frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01LYQMNVX&asins=B01LYQMNVX&linkId=f4fe1ff70f42000a17cf1e6d4f1f5e1c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>
		<br />


	</div>

	<div id="recommendationContainer" style="width: 100%"></div>
</div>

