
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				<p>This is the second part of Air Conditioner using peltier
					module</p>
				<pre>
	This video will cover how to assemble the 240mm radiator with fan. 
	This radiator is used for reducing the heat from the water. 
	The output of the water block assembly will be directly connected to this radiator and back to the reservoir. 
	We are using 2 radiators for each hot side of the water block assembly. 
	The fan we used here are with high power rating and having high air flow.(> 150 CFM)
	The water cooling part will be shown in my next video. 
		</pre>
				<p style="color: magenta; font-weight: bold;">The link for
					buying the 120mm fan and radiators are given in this page itself.</p>



				<span style="color: Grey;"><strong></strong></span>
			</figure>
		</div>
		<br>
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/xpcR-XM_kjc?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B073V16DWX&asins=B073V16DWX&linkId=cb2ab3832433822aa47847df31036ff1&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>

			</div>
			<div class="col-md-8">
				<div class="separator" style="clear: both; text-align: center;">
					<iframe style="width: 120px; height: 240px;" marginwidth="0"
						marginheight="0" scrolling="no" frameborder="0"
						src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B07BTCMQ1H&asins=B07BTCMQ1H&linkId=2aed1b3059cfd81198ee8e776f7e1b34&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
					</iframe>
				</div>
			</div>

			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01LYQMNVX&asins=B01LYQMNVX&linkId=f4fe1ff70f42000a17cf1e6d4f1f5e1c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>
		<br />


	</div>

	<div id="recommendationContainer" style="width: 100%"></div>
</div>

