
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				<p>This is the third part of Air Conditioner using peltier
					module</p>
				<pre>
	This video will cover testing of water cooling mechanism. 
	This has reduced the temperature of the water from 31 to 20 degree in 10 min.
	This cold water will be pumped to a copper pipe or aluminium radiator with fan.
	The heat in the air will be absorbed by this cool pipes and thus cooling air. 
		</pre>
				<p style="color: magenta; font-weight: bold;">The link for
					buying the 120mm fan and radiators are given in this page itself.</p>



				<span style="color: Grey;"><strong></strong></span>
			</figure>
		</div>
		<br>
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/XK6ZxAM_VGE?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B073V16DWX&asins=B073V16DWX&linkId=cb2ab3832433822aa47847df31036ff1&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>

			</div>
			<div class="col-md-8">
				<div class="separator" style="clear: both; text-align: center;">
					<iframe class="YOUTUBE-iframe-video" width="100%" height="350px"
						data-thumbnail-src="https://i.ytimg.com/vi/XK6ZxAM_VGE/0.jpg"
						src="https://www.youtube.com/embed/XK6ZxAM_VGE?autoplay=1"
						frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="col-md-2">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B073V16DWX&asins=B073V16DWX&linkId=cb2ab3832433822aa47847df31036ff1&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>
		<br />


	</div>

	<div id="recommendationContainer" style="width: 100%"></div>
</div>

