
<div class="row">
	<div class="col-md-12">
		<!-- Project One -->
		<div id="">
			<figure class="highlight descriptionStyle mainDescription">
				<p>Here we are upgrading an existing extension board to IR remote controlled Extension board</p>
				<pre>
		Here we will assemble an IR receiver with switching section using TSOP 1738 -IR Receiver Module and CD 4017 decade counter.
		The extension board socket is connected through the relay contacts.The PCB is powered using a transformer-less power supply.
		</pre>
				<p style="color: magenta; font-weight: bold;">The link for
					buying the 120mm fan and radiators are given in this page itself.</p>



				<span style="color: Grey;"><strong></strong></span>
			</figure>
		</div>
		<br>
		<div class="col-md-12"
			style="text-align: center; padding-bottom: 10px;">
			<div class="table-responsive"
				onclick="window.open('https://youtu.be/XbDaqwaf2Ks?autoplay=1','_blank')"
				style="cursor: pointer;">
				<img border="0" style="padding-right: 10px;"
					src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />
				<label
					style="cursor: pointer; font-weight: bold; color: magenta; vertical-align: bottom;">Click
					here to view the description</label>
			</div>
		</div>
		
		<br />


	</div>

	<div id="recommendationContainer" style="width: 100%"></div>
</div>

