<!-- ----------------------------Glue Gun Un-boxing ---------- -->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=17UnboxingGlueGun&heading=Un-boxing Aptech Deals Hot Melt Glue Gun&date=March 5, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/06lI2Ofh7Qc/0.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Un-boxing Aptech Deals Hot Melt Glue Gun</h4>
			</div>
			<div class="col-md-2" style="color: magenta">March 5, 2018</div>
		</div>
		<div class="descriptionStyle">
			<p>In this video we are showing you the un-boxing of Aptech Deals
				glue gun. This is a variable temperature 150W hot melt gun. This
				glue gun's tip is made up of brass, so that the temperature will be
				transferred rapidly. The glue stick diameter is 11mm. This is
				perfectly leak proof.</p>
			<p>Glue gun can be used for any many applications including
				electronics, crafting, by tailors etc. Click on the following button
				to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=17UnboxingGlueGun&heading=Un-boxing Aptech Deals Hot Melt Glue Gun&date=March 5, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>

<!------------------------------------------------------------ HOST WEBSITE--------------------------------------------------- -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=16hostforfree&heading=Host%20your%20website%20for%20free&date=Feb 19, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/Vi2GbnrpDAM/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Host your website for free</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Feb 19, 2018</div>
		</div>
		<div class="descriptionStyle">
			<p>In this video we are showing you how to host your website for
				free in github repository. The time taken to host the website is at
				the most 15 min.The only required thing for this is a domain name
				that you can buy from a registrar.(www.godaddy.com, www.bigrock.in
				etc). </p>
			<p><a target="_blank" href="https://www.godaddy.com"><img width="175px" height="50px" src="https://img1.wsimg.com/pc/img/1/trademark/nonregistered/godaddy-logo.png"/></a></p>
			<p><a target="_blank" href="https://www.bigrock.in"><img width="175px" height="50px" src="https://assets.bigrock.in/getImage.php?src=myUploadedImages/brflatlogo.png"/></a></p>
			<p>Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=16hostforfree&heading=Host%20your%20website%20for%20free&date=Feb 19, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->


<!------------------------------------------------------------ Led night lamp--------------------------------------------------- -->
<!-- Project Two -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=15homemadeledlamp&heading=Homemade%20Simple%20LED%20Night%20Lamp%20or%20Power%20Indicator&date=Feb 12, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/KnOfS51rzos/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">

		<div class="row">
			<div class="col-md-10">
				<h4>Homemade Simple LED Night Lamp or Power Indicator</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Feb 12, 2018</div>
		</div>




		<div class="descriptionStyle">
			<p>Here we are showing you how to make a main power supply
				indicator/night lamp which is very very cheap. The things you
				required are 2-Pin plug, 100 Kilo Ohm 0.5W/1W resistor, LED of any
				color. Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=15homemadeledlamp&heading=Homemade%20Simple%20LED%20Night%20Lamp%20or%20Power%20Indicator&date=Feb 12, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->

<!------------------------------------------------------------ Led water beads--------------------------------------------------- -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=14homemadeledwaterbeads&heading=LED%20Night%20Lamp%20Using%20Water%20Beads&date=Feb 3, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/TSruVT_DD2c/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">

		<div class="row">
			<div class="col-md-10">
				<h4>LED Night Lamp Using Water Beads</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Feb 3, 2018</div>
		</div>
		<div class="descriptionStyle">
			<p>Here we are showing you how to make a night lamp using LED's
				and water beads(Water balls). It is extremely beautiful when light
				flows through water beads. The cap of the bottle we used will be
				closed so not water will evaporate from the water beads. Click on
				the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=14homemadeledwaterbeads&heading=LED%20Night%20Lamp%20Using%20Water%20Beads&date=Feb 3, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->
<!------------------------------------------------------------ Hydrogen Balloon--------------------------------------------------- -->
<!-- Project Three -->
<div class="row  paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=13homemadehydrogenballoons&heading=Homemade%20Hydrogen%20Balloons&date=Jan 28, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/88-42siS-MA/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Homemade Hydrogen Balloons</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 28, 2018</div>
		</div>
		<div class="descriptionStyle">
			<p>Here we are showing you how to make a hydrogen balloon at
				home. All the things used for making hydrogen is available around
				your home. Slaked lime or lime powder can be bought from a paint
				shop. Aluminium foil can be bought from a super market or any
				aluminium metal can be used. Click on the following button to know
				more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=13homemadehydrogenballoons&heading=Homemade%20Hydrogen%20Balloons&date=Jan 28, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->

<!------------------------------------------------------------ Low power Fan--------------------------------------------------- -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=12homemadelowpowerfan&heading=Homemade%20Low%20Power%20Consumption%20High%20Airflow%20Fan&date=Jan 27, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/a1aCi3lQLsU/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Homemade Low Power Consumption High Airflow Fan</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 27, 2018</div>
		</div>
		<div class="descriptionStyle">
			<p>Here we are making a fan using a 12V motor and propeller
				blade. This fan consumes only 24W at full speed. The air flow is
				very high so that we cannot hold our face for a long time against
				it. We are fixing the motor in an aluminium frame. The motor we used
				is RS-775 which has very high RPM and torque. Click on the following
				button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=12homemadelowpowerfan&heading=Homemade%20Low%20Power%20Consumption%20High%20Airflow%20Fan&date=Jan 27, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->

<!------------------------------------------------------------ Pepper Soap--------------------------------------------------- -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=11pepperandsoap&heading=Science%20School%20Experiment%20On%20Pepper%20and%20Soap&date=Jan 13, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/2wey9Vw7VKg/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Science School Experiment On Pepper and Soap</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 13, 2018</div>
		</div>
		<div class="descriptionStyle">
			<p>This is a science experiment which can be shown in school
				exhibition. This will teach other students about the action of
				pepper flakes against the soap solution. This will teach students
				why soap has become a good cleaning agent. Click on the following
				button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=11pepperandsoap&heading=Science%20School%20Experiment%20On%20Pepper%20and%20Soap&date=Jan 13, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->
<!------------------------------------------------------------ Paper Glider--------------------------------------------------- -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">

		<a
			href="?subPage=10paperglider&heading=How%20to%20make%20paper%20glider%20plane%20which%20can%20fly%20long%20time&date=Jan 6, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/An3hnxQdBrQ/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>How to make paper glider plane which can fly long time</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 6, 2018</div>
		</div>
		<div class="descriptionStyle">
			<p>This will help you to make a paper glider which can fly for a
				very long time. Children's will love these kind of stuffs and these
				kind of activities will help them to develop their brain very fast
				than normal. We are making its wings very larger so that it can
				glide in the air for very long time. Click on the following button
				to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=10paperglider&heading=How%20to%20make%20paper%20glider%20plane%20which%20can%20fly%20long%20time&date=Jan 6, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->

<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=09flyingballoon&heading=Flying balloon&date=Jan 1, 2018"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/VBVjnz8CpJU/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Flying balloon</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 1, 2018</div>
		</div>
		<div class="descriptionStyle">
			<p>This is a another experiment on balloon. This will shows you
				how can we control the flow of air from an inflated balloon so that
				balloon will fly in the air so calmly and quietly. This can also be
				treated as a school experiment.Click on the following button to know
				more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=09flyingballoon&heading=Flying balloon&date=Jan 1, 2018"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=08Athirapalli&heading=Athirapally waterfall the beginning&date=Dec 30, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/ekvPU0VM8Ro/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Athirapally waterfall the beginning</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Dec 30, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>This will show beginning view of the athirapally water fall
				which is a major tourist location in Kerala. The famous film
				Bahubali shooting was done at this location. The scenery is a very
				perfect and excellent for our eyes. Location to reach the water fall
				has also shown. Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=08Athirapalli&heading=Athirapally waterfall the beginning&date=Dec 30, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->


<!-- Project Two -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=07Paperfrog&heading=How to make paper frog which can jump high&date=Dec 29, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/z7zcaonWNNQ/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>How to make paper frog which can jump high</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Dec 29, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>This will help you to make a origami paper frog which can jump
				for a very long distance. Children's will love these kind of stuffs
				and these kind of activities will help them to develop their brain
				very fast than normal. Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=07Paperfrog&heading=How to make paper frog which can jump high&date=Dec 29, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->


<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=06CococolaMentos&heading=Coca cola mentos reaction&date=Dec 19, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/IsbPsiMcbtE/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Coca cola mentos reaction</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Dec 19, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>Here you can see the effect of mentos tablets with coca cola.
				Not only coca cola any carbonated drink. Here mentos is acting as a
				catalyst to release carbon-di-oxide. So after taking carbonated
				drink do not consume mentos immediately. Click on the following
				button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=06CococolaMentos&heading=Coca cola mentos reaction&date=Dec 19, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->

<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=05FireExtinguisher&heading=Homemade fire extinguisher&date=Dec 18, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/rapoq2DOTnI/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Homemade fire extinguisher</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Dec 18, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>Here we are making fire extinguisher from the things which are
				easily available from kitchen. This is a must thing in your kitchen.
				Shelf life of this extinguisher is more than 1 year. We are using
				baking soda and vinegar for this operation. Click on the following
				button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=05FireExtinguisher&heading=Homemade fire extinguisher&date=Dec 18, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->

<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=04PaperRocket&heading=How to make paper rocket that can fly far high&date=Dec 16, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/0FcGDOKxYk0/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>How to make paper rocket that can fly far high</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Dec 16, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>Make paper rocket which can be launched using a launcher into
				very long distance. Children's will love these kind of stuffs and
				these kind of activities will help them to develop their brain very
				fast than normal. Multiple rubber bands can be joined together so
				that the rocket can be launched to a very very long distance. Click
				on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=04PaperRocket&heading=How to make paper rocket that can fly far high&date=Dec 16, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=03Arduino&heading=How to check the Arduino is working fine or not&date=Nov 30, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/PO0sis3wo60/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>How to check the Arduino is working fine or not</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Nov 30, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>Here we are showing you how to check your Arduino UNO board is
				working fine or not. This will perfectly fine at out of the box
				testing. Arduino UNO requires 5V supply which you can give from any
				of the source(Eg:- mobile charger, laptop, desktop etc). Click on
				the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=03Arduino&heading=How to check the Arduino is working fine or not&date=Nov 30, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->

<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=02BladelessFan&heading=Make Bladeless Fan Using PVC Pipe&date=Nov 26, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/i2KFgWl4Zwc/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Make Bladeless Fan Using PVC Pipe</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Nov 26, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>This will help you to make engine part of a bladeless fan. The
				power of the airflow is so high. The blade of the fan is designed
				like the duct propeller of a jet engine. The covering part is made
				using PVC pipe. Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=02BladelessFan&heading=Make Bladeless Fan Using PVC Pipe&date=Nov 26, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=01MakeIceUsingPetlier&heading=How to make ice using peltier cooler module&date=Sep 14, 2016"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/x1EoR17vbOE/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>How to make ice using peltier cooler module</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Sep 14, 2016</div>
		</div>
		<div class="descriptionStyle">
			<p>This will help you to make ice instantly using the peltier
				module TEC1-12706. This 12V peltier module will draw a current of 5
				Amp. In my future video, I will show you how can we make a homemade
				air cooler which is cheaper. This is the first step of air cooler
				and this will help you to get good idea on peltier module and its
				heat dissipation factor.Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=01MakeIceUsingPetlier&heading=How to make ice using peltier cooler module&date=Sep 14, 2016"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->




