<!-------------------------Arduino Practical Part5-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=23ArduinoPracticalPart5&heading=Arduino In a Practical Base Part-5&date=April 2, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/3M0u1FMOEf0/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=23ArduinoPracticalPart5&heading=Arduino In a Practical Base Part-4&date=April 2, 2018"
						target="_blank">Arduino Introduction In a Practical Base
						Part-5</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">April 2, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here I am giving you the practical study of Arduino using breadboard and motors</p>
				<pre>This video will cover the following things 
 		1) Studying H-Bridge
 		2) Building an H-Bridge
 		3) Write a program to activate H-Bridge to control the direction of motor
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=23ArduinoPracticalPart5&heading=Arduino In a Practical Base Part-5&date=April 2, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-5">
						<iframe width='300' height='250' frameborder='0' scrolling='no'
							src='https://widget.cuelinks.com/widgets/20960?pub_id=29195CL26316'></iframe>
					</div>
					<div class="col-md-4"></div>

				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-------------------------Arduino Practical Part4-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=22ArduinoPracticalPart4&heading=Arduino In a Practical Base Part-4&date=March 30, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/qVQ8NT_FrHk/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=22ArduinoPracticalPart4&heading=Arduino In a Practical Base Part-4&date=March 30, 2018"
						target="_blank">Arduino Introduction In a Practical Base
						Part-4</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">March 30, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here I am giving you the practical study of Arduino using breadboard and motors</p>
				<pre>This video will cover the following things 
 		1) Potentiometer types
 		2) Write a program to control the speed of motor using potentiometer
 		3) Execute and watch the program in action
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=22ArduinoPracticalPart4&heading=Arduino In a Practical Base Part-4&date=March 30, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-5">
						<iframe width='300' height='250' frameborder='0' scrolling='no'
							src='https://widget.cuelinks.com/widgets/20960?pub_id=29195CL26316'></iframe>
					</div>
					<div class="col-md-4"></div>

				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-------------------------Arduino Practical Part3-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=21ArduinoPracticalPart3&heading=Arduino In a Practical Base Part-3&date=March 30, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/NVSS6wnA1-g/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=21ArduinoPracticalPart3&heading=Arduino In a Practical Base Part-3&date=March 30, 2018"
						target="_blank">Arduino Introduction In a Practical Base
						Part-3</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">March 30, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here I am giving you the practical study of Arduino using breadboard and motors</p>
				<pre>This video will cover the following things 
 		1) Familiarize with transistors
 		2) Program to control the speed of a motor
 		3) Execute and watch the program in action
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=21ArduinoPracticalPart3&heading=Arduino In a Practical Base Part-3&date=March 30, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-5">
						<iframe width='300' height='250' frameborder='0' scrolling='no'
							src='https://widget.cuelinks.com/widgets/20960?pub_id=29195CL26316'></iframe>
					</div>
					<div class="col-md-4"></div>

				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-------------------------Arduino Practical Part 2-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=20ArduinoPracticalPart2&heading=Arduino In a Practical Base Part-2&date=March 25, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/usM9KEJZ8Eo/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=20ArduinoPracticalPart2&heading=Arduino In a Practical Base Part-2&date=March 25, 2018"
						target="_blank">Arduino Introduction In a Practical Base
						Part-2</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">March 25, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here I am giving you the practical study of Arduino using breadboard and LED's</p>
				<pre>This video will cover the following things 
 		1) Identification of Digital and Analog pins 
 		2) Identification of Pulse Width Modulation pins
 		3) Familiarize breadboard
 		4) Fading program of LED
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=20ArduinoPracticalPart2&heading=Arduino In a Practical Base Part-2&date=March 25, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-5">
						<iframe width='300' height='250' frameborder='0' scrolling='no'
							src='https://widget.cuelinks.com/widgets/20960?pub_id=29195CL26316'></iframe>
					</div>
					<div class="col-md-4"></div>

				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>

<!-------------------------Arduino Practical Part 1-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=19ArduinoPracticalPart1&heading=Arduino Introduction In a Practical Base Part-1&date=March 18, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/ar6h8W_5AnA/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=19ArduinoPracticalPart1&heading=Arduino Introduction In a Practical Base Part-1&date=March 18, 2018"
						target="_blank">Arduino Introduction In a Practical Base
						Part-1</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">March 18, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here I am giving you the introduction to Arduino in a
					practical way.</p>
				<pre>This video will cover the following things 
 		1) Installation of  Arduino IDE
 		2) Installation of Arduino Driver
 		3) Run the basic blink program
 		4) Modify the program to change the time period of the ON and OFF of the LED
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=19ArduinoPracticalPart1&heading=Arduino Introduction In a Practical Base Part-1&date=March 18, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-5">
						<iframe width='300' height='250' frameborder='0' scrolling='no'
							src='https://widget.cuelinks.com/widgets/20960?pub_id=29195CL26316'></iframe>
					</div>
					<div class="col-md-4"></div>

				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>

<!-------------------------Repair Micro USB Mobile Charger-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=18RepairMobileChargerConnector&heading=Repair Micro USB Mobile Charger&date=March 11, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/y92twM5fC0U/0.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=18RepairMobileChargerConnector&heading=Repair Micro USB Mobile Charger&date=March 11, 2018"
						target="_blank">Repair Micro USB Mobile Charger</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">March 11, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>
					In this video we are repairing the faulty micro USB mobile charger.
					A person with average knowledge in soldering wires and components
					can do this within 10 minutes. Not only micro USB in mobile
					charger, but also any USB connectors can be repaired with the help
					of this video. While soldering <strong>DO NOT</strong> keep
					soldering iron's tip into the micro USB connector for a long time.
				</p>
				<p>The tools we are using for this operation are cutting plier,
					knife, soldering iron, lead, flux, glue gun and multimeter.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=18RepairMobileChargerConnector&heading=Repair Micro USB Mobile Charger&date=March 11, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy soldering iron, multimeter
				and cutting plier from the following links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01MZ505UI&asins=B01MZ505UI&linkId=bd0947eef8d0bd57d1d5ac0d11a2f9d9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B06ZYNBZ8D&asins=B06ZYNBZ8D&linkId=ce2f325013cb27391046d9b4ea78f0fb&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00N0QCASQ&asins=B00N0QCASQ&linkId=85f94f9cbe9706b553d51d2516dee634&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-6">
						<!-- <iframe width='300' height='250' frameborder='0' scrolling='no'
							src='https://widget.cuelinks.com/widgets/20960?pub_id=29195CL26316'></iframe> -->
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>

<!-- ----------------------------Glue Gun Un-boxing ---------- -->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=17UnboxingGlueGun&heading=Un-boxing Aptech Deals Hot Melt Glue Gun&date=March 5, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/06lI2Ofh7Qc/0.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=17UnboxingGlueGun&heading=Un-boxing Aptech Deals Hot Melt Glue Gun&date=March 5, 2018"
						target="_blank">Un-boxing Aptech Deals Hot Melt Glue Gun</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">March 5, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>In this video we are showing you the un-boxing of Aptech
					Deals glue gun. This is a variable temperature 150W hot melt gun.
					This glue gun's tip is made up of brass, so that the temperature
					will be transferred rapidly. The glue stick diameter is 11mm. This
					is perfectly leak proof.</p>
				<p>Glue gun can be used for any many applications including
					electronics, crafting, by tailors etc.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=17UnboxingGlueGun&heading=Un-boxing Aptech Deals Hot Melt Glue Gun&date=March 5, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy glue gun from the following
				links.</p>

			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B06Y28R6MZ&asins=B06Y28R6MZ&linkId=86147cd2b1cffdc6e970e745f53ccaae&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B0719JNGM3&asins=B0719JNGM3&linkId=f5c8b54cef69a092a08ba153a57231ec&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B071F8S9H9&asins=B071F8S9H9&linkId=2a4f2d70629a76d1cc5e3b9e3f3d66e2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>

<!-- End Row -->


<script>
	$('iframe').easyframe({
		timeout : 2500
	});
</script>



