<!-------------------------AC Using Peltier Module -------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=28WaterCoolerUsingPeltierModule3&heading=Air Conditioner Using Peltier Module Part-3&date=July 22, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/XK6ZxAM_VGE/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=28WaterCoolerUsingPeltierModule3&heading=Air Conditioner Using Peltier Module Part-3&date=July 22, 2018"
						target="_blank">Air Conditioner Using Peltier Module Part-3</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">July 22, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>This is the third part of Air Conditioner using peltier
					module</p>
				<pre>
	This video will cover testing of water cooling mechanism. 
	This has reduced the temperature of the water from 31 to 20 degree in 10 min.
	This cold water will be pumped to a copper pipe or aluminium radiator with fan.
	The heat in the air will be absorbed by this cool pipes and thus cooling air. 
		</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=28WaterCoolerUsingPeltierModule3&heading=Air Conditioner Using Peltier Module Part-3&date=July 22, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy 120mm fan and radiators from
				the following links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B017IAH9XU&asins=B017IAH9XU&linkId=a4dfc88471855bcfa2a723cdeb2bc4fe&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B07864V6CK&asins=B07864V6CK&linkId=bba73a517e7355b24c6d6e1353070dd5&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01FJ4UN76&asins=B01FJ4UN76&linkId=1b6911f6ddfc00a4ce35dbe4d94337fb&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B07BN5FJZQ&asins=B07BN5FJZQ&linkId=30c33e66793370a2eba9bd8b4eb900f0&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>

					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B079DTMNWC&asins=B079DTMNWC&linkId=8ff397237d1e57f07e70d24ae24053ba&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-------------------------Water Cooler Using Peltier Module -Radiator Assembly-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=27AirCoolerRadiatorUsingPeltierModule2&heading=Air Conditioner Using Peltier Module Part-2&date=July 16, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/xpcR-XM_kjc/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=27AirCoolerRadiatorUsingPeltierModule2&heading=Air Conditioner Using Peltier Module Part-2&date=July 16, 2018"
						target="_blank">Air Conditioner Using Peltier Module Part-2</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">July 14, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>This is the second part of Air Conditioner using peltier
					module</p>
				<pre>
	This video will cover how to assemble the 240mm radiator with fan. 
	This radiator is used for reducing the heat from the water. 
	The output of the water block assembly will be directly connected to this radiator
	and back to the reservoir. 
	We are using 2 radiators for each hot side of the water block assembly. 
	The fan we used here are with high power rating and having high air flow.(> 150 CFM)
	The water cooling part will be shown in my next video. 
		</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=27AirCoolerRadiatorUsingPeltierModule2&heading=Air Conditioner Using Peltier Module Part-2&date=July 16, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy 120mm fan and radiators from
				the following links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B073V16DWX&asins=B073V16DWX&linkId=cb2ab3832433822aa47847df31036ff1&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00GV34EQG&asins=B00GV34EQG&linkId=b3ec54bc3493ae2cfe89e48f124af049&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01FJ4UN76&asins=B01FJ4UN76&linkId=1b6911f6ddfc00a4ce35dbe4d94337fb&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01EFQHRYQ&asins=B01EFQHRYQ&linkId=f5a1cc1ac217c6d8ef0410dfe4513c81&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>

					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B079DTMNWC&asins=B079DTMNWC&linkId=8ff397237d1e57f07e70d24ae24053ba&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-------------------------Water Cooler Using Peltier Module-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=26AirCoolerUsingPeltierModule1&heading=Air Conditioner Using Peltier Module Part-1&date=July 14, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/UKXQeburgjE/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=26AirCoolerUsingPeltierModule1&heading=Air Conditioner Using Peltier Module Part-1&date=July 14, 2018"
						target="_blank">Air Conditioner Using Peltier Module Part-1</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">July 14, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>This is the first part of Air Conditioner using peltier
					module</p>
				<pre>
	This video will cover how to assemble the water cooling module using water block 
	and peltier module.
	We are using 6 peltier modules here. Four 15Amp module and two 10Amp module. 
	In my next video we will make the radiator assembly ie; 240mm radiator and 120mm 
	fan.
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=26AirCoolerUsingPeltierModule1&heading=Air Conditioner Using Peltier Module Part-1&date=July 14, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B071VTMX46&asins=B071VTMX46&linkId=9f4b1d305f2b25561d4b3ab3a5445238&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01LZ3TGL2&asins=B01LZ3TGL2&linkId=91c3a659f4630942271a2c572a00b2ff&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01EFQHRYQ&asins=B01EFQHRYQ&linkId=f5a1cc1ac217c6d8ef0410dfe4513c81&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>

					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B079DTMNWC&asins=B079DTMNWC&linkId=8ff397237d1e57f07e70d24ae24053ba&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B0156EYZ28&asins=B0156EYZ28&linkId=05d7b942572a7fd493ee2b2f1de4e320&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>

<!-------------------------Arduino Practical Part7-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=25ArduinoPracticalPart7&heading=Arduino In a Practical Base Part-7&date=April 22, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/bRmTYWpM4Q0/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=25ArduinoPracticalPart7&heading=Arduino In a Practical Base Part-7&date=April 22, 2018"
						target="_blank">Arduino Introduction In a Practical Base
						Part-7</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">April 2, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here I am giving you the practical study of Arduino using
					breadboard and brushless motors</p>
				<pre>This video will cover the following things 
	1) Brushless Motor
	2) Electronic Speed Controller
	3) Write a program to control the speed of brushless motor using a potentiometer
	4) Watch these things in action
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=25ArduinoPracticalPart7&heading=Arduino In a Practical Base Part-7&date=April 22, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-5">
						<iframe width='300' height='250' frameborder='0' scrolling='no'
							src='https://widget.cuelinks.com/widgets/20960?pub_id=29195CL26316'></iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01EFQHRYQ&asins=B01EFQHRYQ&linkId=f5a1cc1ac217c6d8ef0410dfe4513c81&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>

					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B079DTMNWC&asins=B079DTMNWC&linkId=8ff397237d1e57f07e70d24ae24053ba&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-------------------------Arduino Practical Part6-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=24ArduinoPracticalPart6&heading=Arduino In a Practical Base Part-6&date=April 8, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/P2g-3dnrsBs/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=24ArduinoPracticalPart6&heading=Arduino In a Practical Base Part-6&date=April 8, 2018"
						target="_blank">Arduino Introduction In a Practical Base
						Part-6</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">April 2, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here I am giving you the practical study of Arduino using
					breadboard and motors</p>
				<pre>This video will cover the following things 
	1) Assembling an H-Bridge
	2) Wire Arduino with 2 micro switch
	3) Write a program to rotate the motor by pressing the micro switch. 
	   Each micro switch for each rotational direction of the motor.
	4) Watch these things in action
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=24ArduinoPracticalPart6&heading=Arduino In a Practical Base Part-6&date=April 8, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-5">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B06WLGP27N&asins=B06WLGP27N&linkId=03934afb01ab5d8fdbf1de651c556508&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01EFQHRYQ&asins=B01EFQHRYQ&linkId=f5a1cc1ac217c6d8ef0410dfe4513c81&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B074LKC4LT&asins=B074LKC4LT&linkId=d075273a1cea2759e86302d8b7dca2fb&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>

				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-------------------------Arduino Practical Part5-------------------->

<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=23ArduinoPracticalPart5&heading=Arduino In a Practical Base Part-5&date=April 2, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/3M0u1FMOEf0/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">

				<h4>
					<a class="awithnounderline"
						href="?subPage=23ArduinoPracticalPart5&heading=Arduino In a Practical Base Part-5&date=April 2, 2018"
						target="_blank">Arduino Introduction In a Practical Base
						Part-5</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">April 2, 2018</div>
		</div>

		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here I am giving you the practical study of Arduino using
					breadboard and motors</p>
				<pre>This video will cover the following things 
 		1) Studying H-Bridge
 		2) Building an H-Bridge
 		3) Write a program to activate H-Bridge to control the direction of motor
				</pre>

				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=23ArduinoPracticalPart5&heading=Arduino In a Practical Base Part-5&date=April 2, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy Arduino from the following
				links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B015C7SC5U&asins=B015C7SC5U&linkId=6790fb443a1cb7f140a08615edcc18b1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B07BN5FJZQ&asins=B07BN5FJZQ&linkId=30c1a5be76cf8226394a7b66a08febf6&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-2"></div>

				</div>
			</div>

		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>




<!-- End Row -->


<script>
	$('iframe').easyframe({
		timeout : 2500
	});
</script>



