<!-- Project Three -->
<div class="row">
	<div class="col-md-2">
		<a href="a.html?subPage=09flyingballoon&heading=Flying balloon" target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/VBVjnz8CpJU/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>Flying balloon</h3>
		<div class="descriptionStyle">
			<p>This is a another experiment on balloon. This will shows you
				how can we control the flow of air from an inflated balloon so that
				balloon will fly in the air so calmly and quietly. This can also be
				treated as a school experiment.Click on the following button to know
				more.</p>
		</div>
		<a class="btn btn-primary" href="a.html?subPage=09flyingballoon&heading=Flying balloon" target="_blank">View In Details</a>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-2">
		<a href="a.html?subPage=08Athirapalli&heading=Athirapally waterfall the beginning" target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/ekvPU0VM8Ro/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>Athirapally waterfall the beginning</h3>
		<div class="descriptionStyle">
			<p>This will show beginning view of the athirapally water fall
				which is a major tourist location in Kerala. The famous film
				Bahubali shooting was done at this location. The scenery is a very
				perfect and excellent for our eyes. Location to reach the water fall
				has also shown. Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary" href="a.html?subPage=08Athirapalli&heading=Athirapally waterfall the beginning" target="_blank">View In Details</a>
	</div>
</div>
<!-- /.row -->

<hr>

<!-- Project Two -->
<div class="row">
	<div class="col-md-2">
		<a href="a.html?subPage=07Paperfrog&heading=How to make paper frog which can jump high" target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/z7zcaonWNNQ/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>How to make paper frog which can jump high</h3>
		<div class="descriptionStyle">
			<p>This will help you to make a origami paper frog which can jump
				for a very long distance. Children's will love these kind of stuffs
				and these kind of activities will help them to develop their brain
				very fast than normal. Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary" href="a.html?subPage=07Paperfrog&heading=How to make paper frog which can jump high" target="_blank">View In Details</a>
	</div>
</div>
<!-- /.row -->

<hr>

<!-- Project Three -->
<div class="row">
	<div class="col-md-2">
		<a href="a.html?subPage=06CococolaMentos&heading=Coca cola mentos reaction" target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/IsbPsiMcbtE/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>Coca cola mentos reaction</h3>
		<div class="descriptionStyle">
			<p>Here you can see the effect of mentos tablets with coca cola.
				Not only coca cola any carbonated drink. Here mentos is acting as a
				catalyst to release carbon-di-oxide. So after taking carbonated
				drink do not consume mentos immediately. Click on the following
				button to know more.</p>
		</div>
		<a class="btn btn-primary" href="a.html?subPage=06CococolaMentos&heading=Coca cola mentos reaction" target="_blank">View In Details</a>
	</div>
</div>
<!-- /.row -->

<hr>
<!-- Project Three -->
<div class="row">
	<div class="col-md-2">
		<a href="a.html?subPage=05FireExtinguisher&heading=Homemade fire extinguisher" target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/rapoq2DOTnI/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>Homemade fire extinguisher</h3>
		<div class="descriptionStyle">
			<p>Here we are making fire extinguisher from the things which are
				easily available from kitchen. This is a must thing in your kitchen.
				Shelf life of this extinguisher is more than 1 year. We are using
				baking soda and vinegar for this operation. Click on the following
				button to know more.</p>
		</div>
		<a class="btn btn-primary" href="a.html?subPage=05FireExtinguisher&heading=Homemade fire extinguisher" target="_blank">View In Details</a>
	</div>
</div>
<!-- /.row -->

<hr>
<!-- Project Three -->
<div class="row">
	<div class="col-md-2">
		<a href="a.html?subPage=04PaperRocket&heading=How to make paper rocket that can fly far high" target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/0FcGDOKxYk0/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>How to make paper rocket that can fly far high</h3>
		<div class="descriptionStyle">
			<p>Make paper rocket which can be launched using a launcher into
				very long distance. Children's will love these kind of stuffs and
				these kind of activities will help them to develop their brain very
				fast than normal. Multiple rubber bands can be joined together so
				that the rocket can be launched to a very very long distance. Click
				on the following button to know more.</p>
		</div>
		<a class="btn btn-primary" href="a.html?subPage=04PaperRocket&heading=How to make paper rocket that can fly far high" target="_blank">View In Details</a>
	</div>
</div>
<!-- /.row -->
<hr>
<!-- Project Three -->
<div class="row">
	<div class="col-md-2">
		<a href="a.html?subPage=03Arduino&heading=How to check the Arduino is working fine or not" target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/PO0sis3wo60/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>How to check the Arduino is working fine or not</h3>
		<div class="descriptionStyle">
			<p>Here we are showing you how to check your Arduino UNO board is
				working fine or not. This will perfectly fine at out of the box
				testing. Arduino UNO requires 5V supply which you can give from any
				of the source(Eg:- mobile charger, laptop, desktop etc). Click on
				the following button to know more.</p>
		</div>
		<a class="btn btn-primary" href="a.html?subPage=03Arduino&heading=How to check the Arduino is working fine or not" target="_blank">View In Details</a>
	</div>
</div>
<!-- /.row -->
<hr>

