<!-- -------------------------------------------Arduino------------------------------------------------------>
<!-- /.row -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=03Arduino&heading=How to check the Arduino is working fine or not&date=Nov 30, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/PO0sis3wo60/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>How to check the Arduino is working fine or not</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Nov 30, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>Here we are showing you how to check your Arduino UNO board is
				working fine or not. This will perfectly fine at out of the box
				testing. Arduino UNO requires 5V supply which you can give from any
				of the source(Eg:- mobile charger, laptop, desktop etc).</p>
			<p class="knowMore">Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=03Arduino&heading=How to check the Arduino is working fine or not&date=Nov 30, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->
<!-- -------------------------------------------Bladeless fan------------------------------------------------------>
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=02BladelessFan&heading=Make Bladeless Fan Using PVC Pipe&date=Nov 26, 2017"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/i2KFgWl4Zwc/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>Make Bladeless Fan Using PVC Pipe</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Nov 26, 2017</div>
		</div>
		<div class="descriptionStyle">
			<p>This will help you to make engine part of a bladeless fan. The
				power of the airflow is so high. The blade of the fan is designed
				like the duct propeller of a jet engine. The covering part is made
				using PVC pipe.</p>
			<p class="knowMore">Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary"
			href="?subPage=02BladelessFan&heading=Make Bladeless Fan Using PVC Pipe&date=Nov 26, 2017"
			target="_blank">View In Details</a>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- -------------------------------------------ICE using petlier module------------------------------------------------------>
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=01MakeIceUsingPetlier&heading=How to make ice using peltier cooler module&date=Sep 14, 2016"
			target="_blank"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/x1EoR17vbOE/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>How to make ice using peltier cooler module</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Sep 14, 2016</div>
		</div>
		<div class="descriptionStyle">
			<p>This will help you to make ice instantly using the peltier
				module TEC1-12706. This 12V peltier module will draw a current of 5
				Amp. In my future video, I will show you how can we make a homemade
				air cooler which is cheaper. This is the first step of air cooler
				and this will help you to get good idea on peltier module and its
				heat dissipation factor.</p>


			<p class="buyUsingLink">You can buy refrigeration kit or peltier cooling module from the following links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01FA6MMD6&asins=B01FA6MMD6&linkId=9857c9c5ad607951e63911e5d58fb591&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B017HHL55W&asins=B017HHL55W&linkId=f4608aa01d2beb582688fa4dbe202182&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-2">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00YUP56NC&asins=B00YUP56NC&linkId=8bf43b54d72397d0f06b79910834b7bf&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-6">
						<p class="knowMore">Click on the following button to know
							more.</p>
						<a class="btn btn-primary"
							href="?subPage=01MakeIceUsingPetlier&heading=How to make ice using peltier cooler module&date=Sep 14, 2016"
							target="_blank">View In Details</a>
					</div>
				</div>
			</div>



		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>


<script>
	$('iframe').easyframe({
		timeout : 3000
	});
</script>



