<!-- Project Three -->
<div class="row">
	<div class="col-md-2">
		<a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/i2KFgWl4Zwc/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>Make Bladeless Fan Using PVC Pipe</h3>
		<div class="descriptionStyle">
			<p>This will help you to make engine part of a bladeless fan. The
				power of the airflow is so high. The blade of the fan is designed
				like the duct propeller of a jet engine. The covering part is made
				using PVC pipe. Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary" href="#">View In Details</a>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-2">
		<a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
			src="https://i.ytimg.com/vi/x1EoR17vbOE/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<h3>How to make ice using peltier cooler module</h3>
		<div class="descriptionStyle">
			<p>This will help you to make ice instantly using the peltier
				module TEC1-12706. This 12V peltier module will draw a current of
				5 Amp. In my future video, I will show you how can we make a homemade
				air cooler which is cheaper. This is the first step of air cooler
				and this will help you to get good idea on peltier module and its
				heat dissipation factor.Click on the following button to know more.</p>
		</div>
		<a class="btn btn-primary" href="#">View In Details</a>
	</div>
</div>
<!-- /.row -->

<hr>
