<!------------------------------------------------------------ Led water beads--------------------------------------------------- -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=14homemadeledwaterbeads&heading=LED%20Night%20Lamp%20Using%20Water%20Beads&date=Feb 3, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/TSruVT_DD2c/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">

		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=14homemadeledwaterbeads&heading=LED%20Night%20Lamp%20Using%20Water%20Beads&date=Feb 3, 2018"
						target="_blank">LED Night Lamp Using Water Beads</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Feb 3, 2018</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here we are showing you how to make a night lamp using LED's
					and water beads(Water balls). It is extremely beautiful when light
					flows through water beads. We are using red, green, white and green
					LED's for this night lamp. The cap of the bottle we used will be
					closed so not water will evaporate from the water beads.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=14homemadeledwaterbeads&heading=LED%20Night%20Lamp%20Using%20Water%20Beads&date=Feb 3, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy water beads and long life
				soldering iron from the following links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B074DF6KBY&asins=B074DF6KBY&linkId=70f825cb58d5e4a30acb30b191a49c67&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01MZ505UI&asins=B01MZ505UI&linkId=bd0947eef8d0bd57d1d5ac0d11a2f9d9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>

					<div class="col-md-6"></div>
				</div>
			</div>





		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->
<!------------------------------------------------------------ Hydrogen Balloon--------------------------------------------------- -->
<!-- Project Three -->
<div class="row  paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=13homemadehydrogenballoons&heading=Homemade%20Hydrogen%20Balloons&date=Jan 28, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/88-42siS-MA/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=13homemadehydrogenballoons&heading=Homemade%20Hydrogen%20Balloons&date=Jan 28, 2018"
						target="_blank">Homemade Hydrogen Balloons</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 28, 2018</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here we are showing you how to make a hydrogen balloon at
					home. All the things used for making hydrogen is available around
					your home. Slaked lime or lime powder can be bought from a paint
					shop. Aluminium foil can be bought from a super market or any
					aluminium metal can be used.</p>
				<p style="color: red">Fire testing is dangerous with hydrogen.
					So do this with extreme caution.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=13homemadehydrogenballoons&heading=Homemade%20Hydrogen%20Balloons&date=Jan 28, 2018"
					target="_blank">View In Details</a>
			</div>
		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>


<!-- /.row -->

<!------------------------------------------------------------ Low power Fan--------------------------------------------------- -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=12homemadelowpowerfan&heading=Homemade%20Low%20Power%20Consumption%20High%20Airflow%20Fan&date=Jan 27, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/a1aCi3lQLsU/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=12homemadelowpowerfan&heading=Homemade%20Low%20Power%20Consumption%20High%20Airflow%20Fan&date=Jan 27, 2018"
						target="_blank">Homemade Low Power Consumption High Airflow
						Fan</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 27, 2018</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here we are making a fan using a 12V motor and propeller
					blade. The propeller blade we used is 10 X 45 which is enough for
					heavy air flow. This fan consumes only 24W at full speed. The air
					flow is very high so that we cannot hold our face for a long time
					against it. We are fixing the motor in an aluminium frame. The
					motor we used is RS-775 which has very high RPM and torque.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=12homemadelowpowerfan&heading=Homemade%20Low%20Power%20Consumption%20High%20Airflow%20Fan&date=Jan 27, 2018"
					target="_blank">View In Details</a>
			</div>
			<p class="buyUsingLink">You can buy RS-775 motor, 10x45 propeller
				and 12V 5Amp SMPS power supply from the following links.</p>
			<div class="advertisingContainer">
				<div class="row">
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01EFOFVCI&asins=B01EFOFVCI&linkId=5f502f7298ecaca2845d6c75ab986a21&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B019DOS4N8&asins=B019DOS4N8&linkId=88be1bae4859bb46bf8f3bc3d00f1cc9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0" src=""
							data-src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B071FW71FT&asins=B071FW71FT&linkId=e3294c5ce310b671f81a12b965d32f4f&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
						</iframe>
					</div>
					<div class="col-md-3">
						<iframe style="width: 120px; height: 240px;" marginwidth="0"
							marginheight="0" scrolling="no" frameborder="0"
							src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00OVQFP7C&asins=B00OVQFP7C&linkId=7a4a66cf155f79f1d783ecd2a3a0d557&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
						</iframe>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->
<!------------------------------------------------------------ Pepper Soap--------------------------------------------------- -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=11pepperandsoap&heading=Science%20School%20Experiment%20On%20Pepper%20and%20Soap&date=Jan 13, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/2wey9Vw7VKg/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=11pepperandsoap&heading=Science%20School%20Experiment%20On%20Pepper%20and%20Soap&date=Jan 13, 2018"
						target="_blank">Science School Experiment On Pepper and Soap</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 13, 2018</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>This is a science experiment which can be shown in school
					exhibition. This will teach other students about the action of
					pepper flakes against the soap solution. This will teach students
					why soap has become a good cleaning agent.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=11pepperandsoap&heading=Science%20School%20Experiment%20On%20Pepper%20and%20Soap&date=Jan 13, 2018"
					target="_blank">View In Details</a>
			</div>
		</div>

	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!------------------------------------------------------------ Paper Glider--------------------------------------------------- -->
<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">

		<a
			href="?subPage=10paperglider&heading=How%20to%20make%20paper%20glider%20plane%20which%20can%20fly%20long%20time&date=Jan 6, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/An3hnxQdBrQ/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=10paperglider&heading=How%20to%20make%20paper%20glider%20plane%20which%20can%20fly%20long%20time&date=Jan 6, 2018"
						target="_blank">How to make paper glider plane which can fly
						long time</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 6, 2018</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>This will help you to make a paper glider which can fly for a
					very long time. Children's will love these kind of stuffs and these
					kind of activities will help them to develop their brain very fast
					than normal. We are making its wings very larger so that it can
					glide in the air for very long time.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=10paperglider&heading=How%20to%20make%20paper%20glider%20plane%20which%20can%20fly%20long%20time&date=Jan 6, 2018"
					target="_blank">View In Details</a>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->

<!-- -------------------------------------------Flying Balloon------------------------------------------------------>
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=09flyingballoon&heading=Flying balloon&date=Jan 1, 2018"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/VBVjnz8CpJU/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=09flyingballoon&heading=Flying balloon&date=Jan 1, 2018"
						target="_blank">Flying balloon</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Jan 1, 2018</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>This is a another experiment on balloon. This will shows you
					how can we control the flow of air from an inflated balloon so that
					balloon will fly in the air so calmly and quietly. This can also be
					treated as a school experiment.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=09flyingballoon&heading=Flying balloon&date=Jan 1, 2018"
					target="_blank">View In Details</a>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- -------------------------------------------Athirapally------------------------------------------------------>
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=08Athirapalli&heading=Athirapally waterfall the beginning&date=Dec 30, 2017"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/ekvPU0VM8Ro/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=08Athirapalli&heading=Athirapally waterfall the beginning&date=Dec 30, 2017"
						target="_blank">Athirapally waterfall the beginning</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Dec 30, 2017</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>This will show beginning view of the athirapally water fall
					which is a major tourist location in Kerala. The famous film
					Bahubali shooting was done at this location. The scenery is a very
					perfect and excellent for our eyes. Google map's location direction
					to reach the water fall has also shown.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=08Athirapalli&heading=Athirapally waterfall the beginning&date=Dec 30, 2017"
					target="_blank">View In Details</a>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- -------------------------------------------paper frog------------------------------------------------------>
<!-- Project Two -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=07Paperfrog&heading=How to make paper frog which can jump high&date=Dec 29, 2017"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/z7zcaonWNNQ/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=07Paperfrog&heading=How to make paper frog which can jump high&date=Dec 29, 2017"
						target="_blank">How to make paper frog which can jump high</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Dec 29, 2017</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>This will help you to make a origami paper frog which can
					jump for a very long distance. Children's will love these kind of
					stuffs and these kind of activities will help them to develop their
					brain very fast than normal. This is one of the much easiest
					origami paper art.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=07Paperfrog&heading=How to make paper frog which can jump high&date=Dec 29, 2017"
					target="_blank">View In Details</a>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- -------------------------------------------coco cola------------------------------------------------------>

<!-- Project Three -->
<div class="row paginateMe">
	<div class="col-md-2">
		<a
			href="?subPage=06CococolaMentos&heading=Coca cola mentos reaction&date=Dec 19, 2017"
			target="_blank"> <img
			class="img-fluid rounded mb-3 mb-md-0 mainImage"
			src="https://i.ytimg.com/vi/IsbPsiMcbtE/hqdefault.jpg" alt="">
		</a>
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-10">
				<h4>
					<a class="awithnounderline"
						href="?subPage=06CococolaMentos&heading=Coca cola mentos reaction&date=Dec 19, 2017"
						target="_blank">Coca cola mentos reaction</a>
				</h4>
			</div>
			<div class="col-md-2" style="color: magenta">Dec 19, 2017</div>
		</div>
		<div class="descriptionStyle">
			<div class="mainDescription">
				<p>Here you can see the effect of mentos tablets with coca cola.
					Not only coca cola any carbonated drink can be used here. Here
					mentos is acting as a catalyst to release carbon-di-oxide. So after
					taking carbonated drink do not consume mentos immediately.</p>
				<p class="knowMore blink_me">Click on the following button to
					know more.</p>
				<a class="btn btn-primary"
					href="?subPage=06CococolaMentos&heading=Coca cola mentos reaction&date=Dec 19, 2017"
					target="_blank">View In Details</a>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
</div>
<!-- /.row -->


<script>
	$('iframe').easyframe({
		timeout : 3000
	});
</script>
