<div class="modal fade" id="contactModalId" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Contact Me</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12"
						style="font-weight: bold; color: blue; padding-bottom: 20px;">Please
						use any of the following social media to contact me...</div>
					<div class="col-lg-3"></div>
					<div class="col-lg-9">
						<div class="table-responsive"
							onclick="window.open('https://www.youtube.com/channel/UCeqoJD41-RtIXWFcolzJzYQ','_blank')"
							style="cursor: pointer;">
							<img border="0" style="padding-right: 5px;"
								src="https://4.bp.blogspot.com/-koVmwjSmn7I/WoaxvG2oXiI/AAAAAAAAAG4/XvC8MO08tiwsJJZGPAKmE9Oq7B950V9QQCPcBGAYYCw/s1600/yt_helpcenter_wordmark_176x41.png" />

						</div>
					</div>
					<div class="col-lg-3"></div>
					<div class="col-lg-9">
						<div>
							<a href="https://www.facebook.com/diyscienceexperiment/"
								target="_blank"><img width="100px" height="100px"
								src="images/facebooklogo.jpg" />Facebook</a>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>