<div class="table-responsive"
	onclick="window.open('?subPage=05FireExtinguisher&heading=Homemade fire extinguisher','_blank')"
	style="cursor: pointer;">
	<img width="200px" height="200px"
		class="img-fluid rounded mb-3 mb-md-0"
		src="https://i.ytimg.com/vi/rapoq2DOTnI/hqdefault.jpg" alt=""><label
		class="popularPostLabel"
		style="cursor: pointer; font-weight: bold; vertical-align: bottom;">Homemade
		fire extinguisher</label>
</div>

<hr>

<div class="table-responsive"
	onclick="window.open('?subPage=04PaperRocket&heading=How to make paper rocket that can fly far high','_blank')"
	style="cursor: pointer;">
	<img width="200px" height="200px"
		class="img-fluid rounded mb-3 mb-md-0"
		src="https://i.ytimg.com/vi/0FcGDOKxYk0/hqdefault.jpg" alt=""><label
		class="popularPostLabel"
		style="cursor: pointer; font-weight: bold; vertical-align: bottom;">How
		to make paper rocket that can fly far high</label>
</div>
<hr>

<div class="table-responsive"
	onclick="window.open('?subPage=03Arduino&heading=How to check the Arduino is working fine or not','_blank')"
	style="cursor: pointer;">
	<img width="200px" height="200px"
		class="img-fluid rounded mb-3 mb-md-0"
		src="https://i.ytimg.com/vi/PO0sis3wo60/hqdefault.jpg" alt=""><label
		class="popularPostLabel"
		style="cursor: pointer; font-weight: bold; vertical-align: bottom;">How
		to check the Arduino is working fine or not</label>
</div>
<hr>
<div class="table-responsive"
	onclick="window.open('?subPage=02BladelessFan&heading=Make Bladeless Fan Using PVC Pipe','_blank')"
	style="cursor: pointer;">
	<img width="200px" height="200px"
		class="img-fluid rounded mb-3 mb-md-0"
		src="https://i.ytimg.com/vi/i2KFgWl4Zwc/hqdefault.jpg" alt=""><label
		class="popularPostLabel"
		style="cursor: pointer; font-weight: bold; vertical-align: bottom;">Make
		Bladeless Fan Using PVC Pipe</label>
</div>

<hr>
<div class="table-responsive"
	onclick="window.open('?subPage=13homemadehydrogenballoons&heading=Homemade%20Hydrogen%20Balloons','_blank')"
	style="cursor: pointer;">
	<img width="200px" height="200px"
		class="img-fluid rounded mb-3 mb-md-0"
		src="https://i.ytimg.com/vi/88-42siS-MA/hqdefault.jpg" alt=""><label
		class="popularPostLabel"
		style="cursor: pointer; font-weight: bold; vertical-align: bottom;">Homemade
		Hydrogen Balloons</label>
</div>

<hr>

<div class="table-responsive"
	onclick="window.open('?subPage=12homemadelowpowerfan&heading=Homemade%20Low%20Power%20Consumption%20High%20Airflow%20Fan','_blank')"
	style="cursor: pointer;">
	<img width="200px" height="200px"
		class="img-fluid rounded mb-3 mb-md-0"
		src="https://i.ytimg.com/vi/a1aCi3lQLsU/hqdefault.jpg" alt=""><label
		class="popularPostLabel"
		style="cursor: pointer; font-weight: bold; vertical-align: bottom;">Homemade
		Low Power High Airflow Fan</label>
</div>
<hr>

<div class="table-responsive"
	onclick="window.open('?subPage=14homemadeledwaterbeads&heading=LED%20Night%20Lamp%20Using%20Water%20Beads','_blank')"
	style="cursor: pointer;">
	<img width="200px" height="200px"
		class="img-fluid rounded mb-3 mb-md-0"
		src="https://i.ytimg.com/vi/TSruVT_DD2c/hqdefault.jpg" alt=""><label
		class="popularPostLabel"
		style="cursor: pointer; font-weight: bold; vertical-align: bottom;">LED
		Night Lamp Using Water Beads</label>
</div>
