<div class="table-responsive">
	<iframe style="width: 120px; height: 240px;" marginwidth="0"
		marginheight="0" scrolling="no" frameborder="0"
		src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00VJM1TEO&asins=B00VJM1TEO&linkId=8df3f2ff8efd9f407f54e2dd8f729df7&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	</iframe>
	<iframe style="width: 120px; height: 240px;" marginwidth="0"
		marginheight="0" scrolling="no" frameborder="0"
		src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01N0SHVXB&asins=B01N0SHVXB&linkId=5dde1c743ddc110930c3da713327ec68&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	</iframe>
	<iframe style="width: 120px; height: 240px;" marginwidth="0"
		marginheight="0" scrolling="no" frameborder="0"
		src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01FXQVTJ6&asins=B01FXQVTJ6&linkId=bc2d41949f160704f72893930218e083&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
	</iframe>
</div>