<div class="card my-4" style="width: 100%">
	<h5 class="card-header">My recommendations to buy</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B008IFXQFU&asins=B008IFXQFU&linkId=99a43c02dff74208dddcc10839ea02d3&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>

			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B071FW71FT&asins=B071FW71FT&linkId=77195d14f295038f9ae7d742f0ecb1fe&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01121OB8C&asins=B01121OB8C&linkId=feb8ee725f478cffe9ca1e3346d02a82&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01KNR581U&asins=B01KNR581U&linkId=cab7d264a3672aa2763357ad014c75ac&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12"></div>
		</div>
		<div class="row">

			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01F17CG30&asins=B01F17CG30&linkId=2f2cf9d26fd6995f55221531d96a3030&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01CD5VC92&asins=B01CD5VC92&linkId=f6efd0349255e0b581914407c0b1cf38&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01GV01DOO&asins=B01GV01DOO&linkId=ef5ed9376ae0231ce72f5ac43acd7c47&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00ZYFX6A2&asins=B00ZYFX6A2&linkId=775cdae2fc3c887b6274607de266596d&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12"></div>
		</div>
		<div class="row">

			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01MZ505UI&asins=B01MZ505UI&linkId=12fc427a45a4522f5d4a7f5e2cf5b70b&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01IRBDB40&asins=B01IRBDB40&linkId=c589c214f9fb7862cbbc0ae865386644&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B079QTLCMK&asins=B079QTLCMK&linkId=425b5e383854b93dd1cbfc614bd29342&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00LWWV3GU&asins=B00LWWV3GU&linkId=b6585fb8ef2d14aea7e8095bd517cfe1&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12"></div>
		</div>
		<div class="row">

			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00JLJ9IDQ&asins=B00JLJ9IDQ&linkId=435fdc517e7d5f6b4dbddd1d6aac3a7d&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00U2CDGYS&asins=B00U2CDGYS&linkId=48ae267ac41694200303948f970a9906&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00X5JA9N6&asins=B00X5JA9N6&linkId=1c5bbbc39704511e452050a854cbbcff&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00IXE2WEM&asins=B00IXE2WEM&linkId=242bc75a24f9e4587475dc501a10d0f8&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12"></div>
		</div>
		<div class="row">

			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00W3PIOTY&asins=B00W3PIOTY&linkId=e2695627316b774e8ea6492864973747&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B0119ROQXY&asins=B0119ROQXY&linkId=4e1984d0281db75c1b67aedecf5b9af9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00ICIKMSM&asins=B00ICIKMSM&linkId=10fc54c042893ec89e62d7bdecf54a0a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B00VJM1TEO&asins=B00VJM1TEO&linkId=f1b0faf2b2a62bc25852073690fc8fa9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12"></div>
		</div>
		<div class="row">

			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01LYQMNVX&asins=B01LYQMNVX&linkId=f4fe1ff70f42000a17cf1e6d4f1f5e1c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01LYWPG6K&asins=B01LYWPG6K&linkId=be7249e03cce24274d5cd8583e9cccb3&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B014CZTKW2&asins=B014CZTKW2&linkId=fdeacfb1a733fc7bee01728797c22e9a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
			<div class="col-lg-3">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B01N04687B&asins=B01N04687B&linkId=771ebb16527390ce066309ede61db76c&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12"></div>
		</div>
		<div class="row">

			<div class="col-lg-4">
				<iframe width='300' height='250' frameborder='0' scrolling='no'
					src='https://widget.cuelinks.com/widgets/20960?pub_id=29195CL26316'></iframe>
			</div>
			<div class="col-lg-8">
				<iframe style="width: 120px; height: 240px;" marginwidth="0"
					marginheight="0" scrolling="no" frameborder="0"
					src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=gaganoid-21&marketplace=amazon&region=IN&placement=B06ZYNBZ8D&asins=B06ZYNBZ8D&linkId=db08a5a2ccc0ab0cb3c261254c52f3e6&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
				</iframe>
			</div>
		</div>

	</div>
</div>

